body, html{
    background-color: #000000 ;
}

.upp-bar{
    color: white ;
    font-weight: 800;
    text-align: center;
    background-attachment: scroll;

    
}

.text-bar{
    color: white;
    text-align: left;
    background-attachment: scroll;
    position: relative;
    top: 25px;
    font-size: 22px;
    z-index: 1;


}
.foto{
    position: absolute;
    right: 1%;

}
.odkaz{
    position: absolute;
    right: 6%;
    top: 35px;
}

.text-cont{
    position: absolute;
    width: 50%;
    right: 15%;
    z-index: 1;
}

.foto1{
    position: absolute;
    left: 2%;
    
}
.text-1{
    color:white;
    text-align: left;
    position: absolute;
    background-attachment: scroll;
    top: 75%;
    width: 40%;
    font-size: 22px;
    left: 10%;
}

.foto2{
    position: absolute ;
    top: 70% ;
    right: 18%;  
}

.poz{
    position: absolute;
    top: 110%;
    right: 0%;
    
}

.text2{
    position: absolute;
    top: 130%;
    right: 15%;
    color: white;
    text-align: right;
    font-size: 22px;
    z-index: 1 ;
}

.foto3{
    position: absolute; 
    top: 105%;
    right: 550px;

}