body, html{
    background-color: #000000 ;
}

.upp-bar{
    color: white ;
    font-weight: 800;
    text-align: center;
    background-attachment: scroll;

    
}

.text-bar{
    color: white;
    text-align: left;
    background-attachment: scroll;
    position: relative;
    top: 25px;
    font-size: 22px;


}

.text-cont{
    position: absolute;
    width: 50%;
    right: 15%;
    top: 9%;
}

.foto1{
    position: relative ;
    left: 2%;
}
.text-1{
    color:white;
    text-align: left;
    position: absolute;
    background-attachment: scroll;
    top: 70%;
    width: 40%;
    font-size: 22px;
    left: 5%;
}

.foto2{
    position: absolute ;
    top: 60% ;
    right: 18%;  
}

.poz{
    position: absolute;
    top: 100%;
    right: 0%;
    
}

.text2{
    position: absolute;
    top: 120%;
    right: 15%;
    color: white;
    text-align: right;
    font-size: 22px;
    z-index: 1 ;
}

.foto3{
    position: relative;
    top: 500px;
    left: 12px;

}